.testimonial-carousel .swiper-pagination {
  margin-top: 25px;
  text-align: center;
  
}

.testimonial-carousel .swiper-pagination-bullet {
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: #dddddd;
  opacity: 1;
  border-radius: 0px;
  transition: background 0.5s ease;
}

.testimonial-carousel .swiper-pagination-bullet-active {
  background: #78CC6D;
  /* border-radius: 0px; */
}
.testimonial-carousel .dot{
      display: inline-block;
    margin: 1px 5px;
    width: 15px;
    height: 15px;
    background: #dddddd;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

